---
---

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
* {
    box-sizing: border-box;
}

// Colors
$red: #DB4342;
$darkred: #BD1311;
$gray: #8C8C8C;
$lightgray: #e0e0e0;
$black: #555;

// editing Bootstrap's container
@media (min-width: 768px){
    .container {
        max-width: 720px;
    }

}

#main {
    margin-top: 20px;
}

nav {
    color: $red;
    & > ul {
        font-size: 125%;
        ul {
            font-size: 75%;
        }
    }
    a {
        color: $black;
        // border-bottom: solid 1px $red;
        border: none;
        &:hover {
            color: $red;
            text-decoration: none;
        }
    }
    .dropdown-item:active {
        background-color: $red;
    }
    * {
        font-family: 'PT Sans', sans-serif;
    }
}

.navbar-brand {
    font-weight: bold;
    i {
        color: $red;
    }
}

#page {
    font-family: 'PT Sans', sans-serif;
    #site-title {
        text-decoration: none;
        p {
            text-align: center;
            font-size: 12px;
            color: $gray;
        }

        .icon {
            text-align: center;
            font-size: 300%;
            color: $red;

        }
        h1 {
            text-align: center;
            font-size: 200%;
            color: $red;
            font-weight: bold;
        }
    }
}

#content {
    // border-left: solid 1px $lightgray;
    // font-family: 'PT Sans', sans-serif;
    font-family: 'Merriweather', serif;
    color: $black;

    // margin-top: 3em;

    p {
        line-height: 200%;
        font-family: 'Merriweather', serif;

    }

    header {
        margin: 0 0 20px 0;
        padding-bottom: 10px;
        border-bottom: solid 1px $lightgray;
        h1 {
            font-size: 150%;
            color: $black;
            font-weight: bold;
            text-align: center;
        }
    }

    footer {
        margin: 20px 0 0 0;
        padding-top: 10px;
        // border-top: solid 1px $lightgray;
    }

    .date {
        font-size: 80%;
        color: $gray;
    }

    .prev {
        font-size: 80%;
        a {
            color: $red;
        }
    }

    blockquote {
        font-style: italic;
        text-align: center;
    }

    img {
        max-width: 500px;
        // width: 100%;
        display: block;
        margin: 0 auto;
    }

    h2 {
        color: $black;
        font-weight: bold;
    }
    h3 {
        font-size: 100%;
        font-weight: bold;
    }

    .recorded {
        font-size: 80%;
        color: $gray;
    }

    .episodes {
        li {
            margin-bottom: 6px;
        }
        a {
            color: $red;
        }
    }
}

a {
    color: $red;
    &:hover {
        color: $darkred;
    }
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: $darkred;
}


.social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    li {
        display: inline-block;
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
    a {
        font-size: 3rem;
        &:hover {
            color: $darkred;
        }
    }
}

.btn-primary {
    background-color: $red;
    border: none;
    &:hover, &:active {
        background-color: $darkred;
    }
}


.card-image-top {
    margin-top: 10px !important;
}

.card {
    margin-bottom: 20px;
}

.hero-image {
    max-width: 300px !important;
}


dl {
    dt {
        font-weight: bold;
        font-style: italic;
        font-size: 125%;
        border-bottom: solid 2px $red;
        color: $red;
        margin-bottom: 10px;
        margin-top: 1.25em;
    }

    dd {
        line-height: 200%;
    }
}

a {
    cursor: pointer !important;
}


#characters a {
    margin-bottom: 4px;
}


figure {
    img {
        width: 100%;
        max-width: 100% !important;
    }
    small {
        text-align: center;
        display: block;
    }
}


.padding-bottom {
    padding-bottom: 20px;
}