---
---

@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i,700|Ultra&display=swap');
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    background: url('/images/paper.jpg')   fixed center center no-repeat;
    background-size: cover;

}

// Colors
$red: #DB4342;
$darkred: #BD1311;
$gray: #8C8C8C;
$lightgray: #e0e0e0;
$black: #555;

// Typography
h1, h2, h3, h4, h5, h6 {
    font-family: 'Cardo', serif;
    text-align: center;
    margin-top: 20px;
    color: $red;
}
h4 {
    text-align: left;
}
p, li{
    font-family: 'Cardo', serif;
    line-height: 1.6;
}
h2 {
    font-size: 26px;
    font-weight: bold;
}

a {
    color: $red;
    &:hover, &:active {
        color: $darkred !important;
    }
}
.dropdown-item.active, .dropdown-item:active {
    background-color: $red !important;
    color: white !important;
}

.btn-primary, .badge-primary {
    background: $red;
    border: none;
    outline: none;
    &:hover, &:active, &:focus {
        background: $darkred !important;
        outline: none !important;
    }
}

#page {
    max-width: 800px;
    margin: 35px auto 10px;
    position: relative;
}
@media (max-width: 576px){
    #page {
        margin: 0;
    }
}
.navbar-brand{
    font-family: Ultra, serif;
    color: rgba(0,0,0,0.5) !important;
}

p {
    font-family: 'Cardo', serif;
    font-size: 16px;
}


.mesh {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -10;
    width: 100%;
    height: 100%;
    &::after{
        background: url('/images/mesh.png') repeat;
        opacity: 0.2;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -10;
    }
}
.site-background {
    left: 0;
    top: 0;
    position: fixed;
    overflow: hidden;
    z-index: -999;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    img {
        width: 100%;
        height: 100%;
        opacity: 0.05;
    }
}

img.full-width {
    width: 100%;
}

main {
    padding: 50px;
}
@media (max-width: 576px){
    main {
        padding: 10px;
    }
}


// Blog Posts
.blog-image {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 300px;
    margin-top: 20px;
    width: 100%;
}
@media (max-width: 576px){
    .blog-image {
        width: 100%;
        max-width: 200px;
    }
}
.session-info {
    font-size: 14px;
    text-align: center;
    font-style: italic;
    font-family: 'Cardo', serif;
}
.entry{
    text-align: justify;
}
.read-more {
    font-style: italic;
    margin-top: 30px;
    display: inline-block;
}
.back-link {
    display: block;
    font-family: 'Cardo', serif;
    font-style: italic;
    text-align: center;
}

// Session table
th,td {
    font-family: 'Cardo', serif;;
}
table a {
    font-weight: bold;
}
.table-striped tbody tr:nth-of-type(odd){
    background-color: rgba(0,0,0,0.03);
}
.table-episode-list{
    td {
        padding-top: .25rem;
        padding-bottom: .25rem;
    }
    .summary {
        font-size: 13px;
        margin-bottom: 0.1rem;
    }
}

.episode-number{
    width: 12%;
}
.episode-date{
    width: 16%;
    font-size: 12px;
    text-align: center;
}
.title-image {
    max-width: 500px;
    width: 100%;
    display: block;
    margin: 0 auto;
}
.portraits {
    display: flex;
    margin-bottom: 2rem;
    a {
        flex: 1;
        padding: 0 1px 0 1px;
        margin: 0;
        img {
            width: 100%;
        }
    }
}
.quote {
    font-size: 13px;
    font-style: italic;
    color: #777;
}
.character-image {
    float: right;
    width: 100%;
    max-width: 200px;
    cursor: pointer;
    margin-left: 20px;
}
@media (max-width: 576px){
    .character-image{
        float: none;
        margin-left: 0;
    }
}

.character-portrait {
    width: 100%;
}


.small-map {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 0 auto;
}
.map-enlarge{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-style: italic;
    font-family: "Cardo", serif;
}


#top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.song {
    text-align: center;
    font-style: italic;
    margin-bottom: 1.5rem;
}


blockquote {
    border-left: solid 2px $red;
    font-size: 15px;
    padding-left: 15px;
}


.main-page-blog {
    h2 {
        text-align: left;
    }
    .session-info {
        text-align: left;
    }
}


// Bootstrap adjustments

.container {
    background: white;
    color: #555;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.modal-header {
    border-bottom: none;
}


// Navigation
.nav-link, .dropdown-item {
    font-family: 'Cardo', serif !important;
    font-weight: bold;
}
.nav-link:hover, .nav-item.dropdown.show > .nav-link.dropdown-toggle {
    transition: background 150ms;
    background: white;
}
.navbar {
    margin-bottom: -10px;
}
@media (max-width: 992px) { 
    .navbar {
        margin-bottom: 10px;
    }
}
@media (max-width: 768px){
    .dropdown-menu {
        background-color: rgba(255, 255, 255, 0.5);
    }
    .navbar {
        margin-bottom: 0;
    }

}
