@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Satisfy');

/* Probably too many google fonts... */

* {
    box-sizing: border-box;
}

#page-header {
    background-image: linear-gradient(to right, #52494c, #8f4731, #2d5b6b);
    padding: 90px 10px 60px 10px;
}
#page-header h1, #page-header h2 {
    color: white;
    font-family: "Source Code Pro", sans-serif;
    text-align: center;
    padding: 0;
    font-weight: 400;
}
#page-header .icon {
    font-size: 3rem;
    color: white;
    text-align: center;
}

#main-nav {
    background-image: linear-gradient(to right, #52494c, #8f4731, #2d5b6b);
}
#main-nav ul {
    margin: 0;
    list-style: none;
    padding: 0;
    text-align: center;
}
#main-nav ul li {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 40px;
}
#main-nav ul li:last-child {
    margin-right: 0;
}
#main-nav ul li a {
    text-decoration: none;
    display: block;
    padding-bottom: 4px;
    color: white;
    font-family: 'Source Code Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#main-nav ul li a:hover {
    transition: color 300ms;
    color: rgba(255,255,255,0.3);
}


.content {
    margin: 4rem auto;
    width: 100%;
    max-width: 600px;
}
.padding {
    padding: 10px;
}


h1, h2, h3, h4, h5, h6 {
    color: #000000a9;
    font-family: 'Source Code Pro', sans-serif;
    
}
h1 {
    font-size: 2rem;
    /* text-transform: uppercase; */
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    margin-bottom: 2rem;
}
.card .card-title {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin: .5rem 0;
}
.card .card-title a {
    text-decoration: none;
    color: #52494c;
}
.card .card-date {
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-size: 0.8rem;
    color: rgb(132, 140, 147);
    margin-bottom: 2rem;
}
.card .card-tags {
    display: flex;
    align-items: center;
    border-top: solid 1px rgb(205, 218, 223);
    padding-top: 10px;
}
.card .card-tags .tags {
    font-family: "Roboto" , sans-serif;
    font-size: 0.8rem;
    color: rgb(132, 140, 147);
    flex: 2;
}



.category {
    font-family: "Roboto", sans-serif;
    padding: 4px 6px;
    border-radius: 4px;
    display: inline-block;
    background: #7b7d2a;
    color: white;
}

.tag {
    font-family: "Roboto", sans-serif;
    padding: 4px 6px;
    border-radius: 4px;
    display: inline-block;
    color: #7b7d2a;
    border: solid 1px #7b7d2a;
    font-size: 0.8rem;
}



p {
    font-family: "Roboto", sans-serif;
    color: #52494c;
    line-height: 1.75;
}
p.signature {
    font-family: "Satisfy", cursive;
    text-align: right;
    font-size: 1.25rem;
}
p.signature:before {
    display: inline-block;
    content: "-";
    margin-right: 4px;
}
.text-center {
    text-align: center;
}


.button {
    color: white;
    background: rgb(143,71,49);
    font-family: "Roboto", sans-serif;
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
}
.button:hover {
    transition: background 300ms;
    background: rgb(113, 53, 35);
}

figure {
    text-align: center;
}
figcaption {
    font-family: "Roboto", sans-serif;
    color: rgb(132, 140, 147);
    font-size: 0.8rem;
    font-style :italic;
}


a {
    color: rgb(143,71,49);
}



.float-right {
    float: right;
}

.thumbnail {
    max-width: 200px;
}


.bag {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.bag .bag-item {
    border-top: solid 1px rgb(205, 218, 223);
    padding-top: 10px;
}
.bag .bag-item:last-child {
    border-bottom: solid 1px rgb(205, 218, 223);
}

.bag .bag-title {
    font-family: "Source Code Pro", monospace;
    font-size: 1.5rem;
    cursor: pointer;
}
.bag .bag-title i {
    margin-right: 20px;
}
.bag .bag-quantity {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: rgb(132, 140, 147);
}

.quests {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.quests li {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4); */
    border: solid 1px rgba(0,0,0,0.4);
    margin-bottom: 1rem;
    padding: 4px 10px;
    font-size: 80%;
}
.quests .quest-giver {
    font-size: 70%;
}

.quests  .complete {
    background: #7b7d2a;
    font-family: "Roboto", sans-serif;
    padding: 4px 6px;
    border-radius: 4px;
    display: inline-block;
    color: white;
    font-size: 50%;
}
.quests .failed {
    background: #8f4731;
    font-family: "Roboto", sans-serif;
    padding: 4px 6px;
    border-radius: 4px;
    display: inline-block;
    color: white;
    font-size: 50%;
}
.quests .in-progress {
    background: #2d5b6b;
    font-family: "Roboto", sans-serif;
    padding: 4px 6px;
    border-radius: 4px;
    display: inline-block;
    color: white;
    font-size: 50%;    
}
.quests .reward {
    background: #ceab0f;
    font-family: "Roboto", sans-serif;
    padding: 4px 6px;
    border-radius: 4px;
    display: inline-block;
    color: white;
    font-size: 50%;
}


.stats {
    width: 100%;
    border-collapse: collapse;
}
.stats .small-col {
    width: 25%;
}
.stats .large-col {
    width: 100%;
}
.stats  th{
    background: rgb(45,91,107);
    color: white;
    font-family: "Source Code Pro", monospace;
    padding: 16px 10px;
    text-align: left;
}
.stats td {
    font-family: "Roboto", sans-serif;
    padding: 16px 10px;
    vertical-align: top;
}
.stats tr:nth-child(even){
    background: rgb(205, 218, 223);
}


.social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.social-icons li {
    display: inline-block;
    margin-right: 10px;
}
.social-icons li:last-child {
    margin-right: 0;
}
.social-icons a {
    font-size: 3rem;
}
.social-icons a:hover {
    color: rgb(155, 75, 51);
    transition: color 300ms;
}


input, textarea, button[type=submit] {
    display: block;
    width: 100%;
    font-family: "Roboto" , sans-serif;
    padding: 15px 6px;
    margin-bottom: 10px;
    border: solid 1px  rgb(205, 218, 223);
    border-radius: 4px;
}
textarea {
    height: 100px;
    resize: vertical;
}
input:focus {
    outline: none;
}
button[type=submit]{
    background: rgb(113, 53, 35);
    border: solid 1px rgb(113, 53, 35);
    color: white;
    cursor: pointer;
}
button[type=submit]:hover {
    background: rgb(155, 75, 51);
    transition: background 300ms;
}