---
title: Home
layout: page
---

<h2>Latest Session</h2>
<div class="latest">
    {% for post in site.posts limit:1 %}
        {% if post.adventure contains "calatia" %}
            {% assign adventure = "Quest for Calatia" %}
        {% else if post.adventure contains "great-ones" %}
            {% assign adventure = "The Great Ones" %}
        {% else  %}
            {% assign adventure = "One-Shot Adventures" %}
        {% endif %}
        {% if post.image %}
        <img src="https://fakeimg.pl/350x200/?text=Hello" alt="" class="rounded blog-image">
        {% endif %}
        <h3>
            {{ post.title }}
        </h3>

            <div class="row post-information">
                <div class="col post-details">
                    <span class="episode_icon">
                        <img src="{{ site_url }}/images/calatia_icon.gif">
                    </span>
                    <span>
                        {{ adventure }}
                    </span>
                </div>
                <div class="col post-details">
                    <i class="fas fa-hashtag"></i>
                    <span>
                        Session {{ post.episode }}
                    </span>
                </div>
                <div class="col post-details">
                    <i class="fas fa-calendar"></i>
                    <span>
                        {{ post.recorded | date: '%b %d, %Y'}}
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ post.excerpt }}
                    <p class="text-center">
                        <a href="{{ post.url }}" class="btn btn-primary">
                            Read More
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </p>
                </div>
            </div>

    {% endfor %}
</div>