---
title: Home
layout: page
---

<div class="latest">
    {% for post in site.posts limit:1 %}
        {% if post.adventure contains "calatia" %}
            {% assign adventure = "Quest for Calatia" %}
            {% assign session = "Session " | append: post.episode %}
        {% else if post.adventure contains "greatones" %}
            {% assign adventure = "The Great Ones" %}
            {% assign session = "Session " | append: post.episode %}
        {% endif %}
        {% if post.image %}
        <img src="https://fakeimg.pl/350x200/?text=Hello" alt="" class="rounded blog-image">
        {% endif %}
        <h3>
            Latest Episode: {{ post.title }}
        </h3>
        <h5>{{ adventure }} {{ session }}</h5>
        <div class="row homepage-post">
            <div class="col">
                {{ post.excerpt }}
                <p class="text-center">
                    <a href="{{ post.url }}" class="btn btn-primary">
                        Read More
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </p>
            </div>
        </div>

    {% endfor %}
</div>