---
title: Home
layout: page
---

<div class="latest">
    <h1>Latest Adventures</h1>
    {% for post in site.posts limit:3 %}
        {% if post.adventure contains "calatia" %}
            {% assign adventure = "Quest for Calatia" %}
            {% assign url = "quest-for-calatia" %}
            {% assign session = "Session " | append: post.episode %}
            {% assign image_path = "calatia" %}
        {% endif %}
        {% if post.adventure contains "valdea" %}
            {% assign adventure = "Hearts of Valdea" %}
            {% assign url = "valdea" %}
            {% assign session = "Chapter " | append: post.episode %}
            {% assign image_path = "valdea" %}
        {% endif %}
        {% if post.adventure contains "greatones" %}
            {% assign adventure = "The Great Ones" %}
            {% assign url = "the-great-ones" %}
            {% assign session = "Session " | append: post.episode %}
            {% assign image_path = "greatones" %}
        {% endif %}
        <hr>

        <div class="main-page-blog">
            <div class="row">
                {% if post.image %}
                    <div class="col-md-4 col-sm-12">
                        <div>
                            <a href="{{ post.url }}">
                                <img src="{{ site_url }}/images/{{ image_path }}/chapters/{{ post.image }}.png" alt="" class="blog-image">
                            </a>
                        </div>
                        <p class="text-center">
                            <a href="{{ post.url }}" class="read-more">
                                Read more
                                <i class="fas fa-book"></i>
                            </a>
                        </p>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <h2>
                            <a href="{{ post.url }}">
                                {{ post.title }}
                            </a>
                        </h2>
                        <div class="session-info">
                            <a href="{{ site.url }}/{{ url }}">{{ adventure }}</a> {{ session }} on {{ post.recorded }}
                        </div>
                        <p class="text-center quote">
                            {{ post.excerpt }}
                        </p>
                    </div>
                {% else %}
                    <div class="col-sm-12">
                        <h2>
                            <a href="{{ post.url }}">
                                {{ post.title }}
                            </a>
                        </h2>
                        <div class="session-info">
                            <a href="{{ site.url }}/{{ url }}">{{ adventure }}</a> {{ session }} on {{ post.recorded }}
                        </div>
                        <p class="text-center quote">
                            {{ post.excerpt }}
                        </p>
                    </div>
                {% endif %}
                

            </div>
        </div>
 
    {% endfor %}
</div>