---
layout: page
title: Companions
---

{% include return.html content="valdea" %}

<h2>Red's Companions</h2>


<p>
    Red travels the world, seeking for a way to return the Heart of Valtare to the hidden temple in Missuk. Along the way, he makes friends that join him as companions in his quest.
</p>

<hr>
<h4>Corlee</h4>
<img src="{{ site_url }}/images/valdea/corlee_character_portrait.png" alt="Image of Corlee" class="character-image" data-toggle="modal" data-target="#myModal">
<ul>
    <li><b>Race</b>: Halfling</li>
    <li><b>Class</b>: Monk</li>
</ul>
<p>
    Corlee says she hails from a monastery somewhere in Idil and that she and her master have been traveling so that Corlee can accomplish some important feat during a pilgrimage. She does not know much about this pilgrimage, however, and ended up getting lost between Noname and Fort Trine in the country of Solsu. She regularly visited a family of roadside merchants, wrestling with them for room and food. Eventually, Corlee met with Red while watching him struggle to catch fish. She offered to accompany him, assisting with the takedown of a cultist tower just off the main road towards Idil. 
</p>
<p>
    First appearance: Leaving the Ranks
</p>

<hr>
<h4>Alberich</h4>
<!-- <img src="{{ site_url }}/images/valdea/corlee_character_portrait.png" alt="Image of Corlee" class="character-image" data-toggle="modal" data-target="#myModal"> -->
<ul>
    <li><b>Race</b>: Human</li>
    <li><b>Class</b>: Rogue</li>
</ul>
<p>
    Red and Corlee met Alberich in the Peace Plains when they were attacked by a pack of Death Dogs. Alberich came to their rescue and offered to let them stay at his camp while he watched over. He is from a somewhat noble family but chose to leave his home and adventure on his own. Alberich was originally training in religious services before he ventured on his own, and thus knows a few minor magic spells.
</p>
<p>
    First appearance: The Town with No Name
</p>


{% include return.html content="valdea" %}


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <img src="{{ site.url }}/images/valdea/corlee_character_color.png" alt="Portrait of Corlee" class="character-portrait">
        </div>
      </div>
    </div>
</div>

