---
layout: page
title: Pantheon
---
{% include return.html content="valdea" %}

<h2>The Pantheon of Valdea</h2>


<div class="people">
    <h4 class="text-left">
        Altee
    </h4>
    <p>
        Goddess of love and peace
    </p>

    <hr>
    
    <h4 class="text-left">
        Carond
    </h4>
    <p>
        Worshipped by those in the south (Tielith)
    </p>

    <hr>


    <h4 class="text-left">
        Demar
    </h4>
    <p>
        God of learning and building, mostly worshipped by the dwarves
    </p>

    <hr>

    <h4 class="text-left">
        Sebastian
    </h4>
    <p>
        God of cunning and trickery
    </p>

    <hr>

    <h4 class="text-left">
        Vanta
    </h4>
    <p>
        God of wars and battle
    </p>

    <hr>

    <h4 class="text-left">
        Chreo
    </h4>
    <p>
        God of the natural order, associated with time and death
    </p>

    <hr>

    <h4 class="text-left">
        Dauch
    </h4>
    <p>
        God of fortune and prize
    </p>

    <hr>

    <h4 class="text-left">
        Covea
    </h4>
    <p>
        God of nature, helping creatures thrive in their respective spheres
    </p>

    <hr>

    <h4 class="text-left">
        Phibea
    </h4>
    <p>
        God of darkness, also called the 'Spider'
    </p>

    <hr>

    <h4 class="text-left">
        Valtare
    </h4>
    <p>
        Goddess of warmth and light, Red's patron
    </p>

    <hr>

    <h4 class="text-left">
        Solutte
    </h4>
    <p>
        God of dominion and power
    </p>

</div>

{% include return.html content="valdea" %}