<header id="page-header">
    <div class="icon">
        <i class="fas fa-dice-d20"></i>
    </div>
    <h1>Number Nine's Blog</h1>
</header>
<nav id="main-nav">
    <ul>
        <li>
            <a href="{{ site.url}}">Blog</a>
        </li>
        <li>
            <a href="{{ site.url }}/party/list/">Party</a>
        </li>
        <li>
            <a href="{{ site.url }}/stats/">Game Stats</a>
        </li>
        <li>
            <a href="{{ site.url }}/quests/">Quests</a>
        </li>
        <li>
            <a href="{{ site.url }}/bagofholding/">Bag of Holding</a>
        </li>
        <li>
            <a href="{{ site.url }}/about">About</a>
        </li>
    </ul>
</nav>
