<nav>
    <ul>
        <li>
            <a href="{{ site.url }}/">Campaigns</a>
            <ul>
                <li>
                    <a href="{{ site.url }}/discouraged">The Discouraged</a>
                </li>
                <li>
                    <a href="{{ site.url }}/calatia">Quest for Calatia</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{{ site.url }}/about">About</a>
        </li>
        <li>
            <a href="{{ site.url }}/contact">Contact</a>
        </li>
    </ul>
</nav>