<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{{ site_url }}/">
        <i class="fas fa-dice-d20"></i>
        <span>Nine's Journal</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Adventures
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ site_url }}/the-great-ones/">The Great Ones</a>
                    <a class="dropdown-item" href="{{ site_url }}/quest-for-calatia/">Quest for Calatia</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    One-Shots
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ site_url }}/oneshots/koroktrial/">The Legendary Korok Trials</a>
                    <a class="dropdown-item" href="{{ site_url }}/oneshots/adventureskeletons/">Adventure Skeletons</a>
                    <a class="dropdown-item" href="{{ site_url }}/oneshots/elfs/">E.L.F.S. - A Holiday Adventure</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site_url }}/about/">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site_url }}/contact/">Contact</a>
            </li>
      </ul>
    </div>
  </nav>