<!DOCTYPE html>
<html lang="en">
{% include head.html  %}
<body>

    {% include navigation.html %}

    <div class="container" id="main">
        <div class="row">
            <div class="col-sm-12" id="content">
                {{ content }}

                {% if site.posts.size > 0 %}
                    <h2>Sessions</h2>
                    <table class="table table-bordered">
                        {% for post in site.posts %}
                            {% if post.adventure == 'calatia' %}
                            <tr>
                                <td>
                                    <a href="{{ post.url }}">
                                        <b>Session {{ post.episode }}: </b>
                                        {{ post.title }}
                                    </a>
                                </td>
                                <td>
                                    <span class="date">
                                        {{ post.recorded | date: '%b %d, %Y'}}
                                    </span>
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                {% endif %}

                
                <footer>
                    {% include footer.html %}
                </footer>
            </div>
        </div>
    </div>
    
</body>
</html>