<!DOCTYPE html>
<html lang="en">
{% include head.html  %}
<body>
    <div id="page">
        {% include navigation.html %}
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <main>
                        {{ content }}
                    </main>
                </div>
            </div>
        </div>
        <div class="mesh"></div>
        <div class="site-background">
            <img src="{{ site_url }}/images/paper.jpg" alt="">
        </div>
    </div>


    {% include footer.html %}
    
</body>
</html>