<!DOCTYPE html>
<html lang="en">
{% include head.html  %}
{% if page.adventure == 'calatia' %}
    {% assign url = "quest-for-calatia" %}
    {% assign adventure = "Quest for Calatia" %}
    {% assign session = "Session " | append: page.episode %}
    {% assign image_path = "calatia" %}
{% endif %}
{% if page.adventure == "valdea" %}
    {% assign url = "valdea" %}
    {% assign adventure = "Hearts of Valdea" %}
    {% assign session = "Chapter " | append: page.episode %}
    {% assign image_path = "valdea" %}
{% endif %}
{% if page.adventure == "greatones" %}
    {% assign url = "the-great-ones" %}
    {% assign adventure = "The Tales of the Great Ones" %}
    {% assign session = "Session " | append: page.episode %}
    {% assign image_path = "greatones" %}
{% endif %}
<body>


    <div id="page">
        {% include navigation.html %}
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <main>
                        <a href="{{ site.url }}/{{ url }}" class="back-link">
                            <i class="fas fa-caret-left"></i>
                            Back to {{ adventure }}
                        </a>

                        
                        
                        {% if page.image %}
                            <img src="{{ site_url }}/images/{{ image_path }}/chapters/{{ page.image }}.png" alt="" class="blog-image">
                        {% endif %}
                        <h2>{{ page.title }}</h2>
                        <div class="session-info">
                            <b>{{ adventure }} {{ session }}</b>
                            <br>{{ page.recorded }}
                        </div>
                        <hr>
                        {% if page.quote.size > 1 %}
                            <p class="text-center quote">
                                {{ page.quote }}
                            </p>
                        <hr>
                        {% endif %}

                        {{ content }}

                        <a href="{{ site.url }}/{{ url }}" class="back-link">
                            <i class="fas fa-caret-left"></i>
                            Back to {{ adventure }}
                        </a>
                    </main>
                </div>
            </div>
        </div>
        <div class="mesh"></div>
        <div class="site-background">
            <img src="{{ site_url }}/images/character_background.png" alt="">
        </div>
    </div>

    {% include footer.html %}

    
</body>
</html>