<!DOCTYPE html>
<html lang="en">
{% include head.html  %}
{% if page.adventure == 'calatia' %}
    {% assign adventure = "Quest for Calatia" %}
{% else %}
    {% assign adventure = "The Tales of the Discouraged" %}
{% endif %}
<body>

    <div class="container" id="main">
        <div class="row">
            <div class="col-sm-12 col-lg-4" id="page">

                {% include header.html %}
                
            </div>
            <div class="col-sm-12 col-lg-8" id="content">
                <header>
                    <h1>{{ adventure }}</h1>
                </header>

                <p class="prev">
                    <a href="{{ site.url }}/{{ page.adventure }}">
                        <i class="fas fa-caret-left"></i>
                        Back to Episode List
                    </a>
                </p>

                <h2>{{ page.title }}</h2>
                <h3>Episode {{ page.episode }}</h3>
                <p>
                    {% for tag in page.tags %}
                        <span class="badge badge-secondary">{{ tag }}</span>
                    {% endfor %}
                </p>
                <p class="recorded">
                    Recorded {{ page.date | date: '%b %d, %Y' }}
                </p>
                {{ content }}

                <p class="prev">
                    <a href="{{ page.previous.url }}">
                        <i class="fas fa-caret-left"></i>
                        Back to Episode List
                    </a>
                </p>

                <footer>
                    {% include footer.html %}
                </footer>
            </div>
        </div>
    </div>
    
</body>
</html>